.search-bar{
	padding: 15px;
	width: 100%;
}

.loading{
	padding: 15px;
}

.loading i{
    font-size: 5em;    
    position: relative;
    text-align: center;
    top: 200px;
    width: 100%;
}

.search-bar input{
	font-size: 2em;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
}

.card-deck{
	display: flex !important;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card{
	margin-bottom: 50px !important;
}


.movie-poster{
	max-height: 300px;
	object-fit: contain;
	object-position: center center;
	width: 100%;
}